# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv/
ENV/
env/
env.bak/
venv.bak/

app/controller/model

uv.lock
.gitignore

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
.nox/
htmlcov/
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Flask
instance/
.webassets-cache

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
*.spec
*.manifest

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Static type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# IDE settings
.idea/
.spyderproject/
.spyproject/
.ropeproject/

# Others
.scrapy/
.site/
__pypackages__/
celerybeat-schedule
celerybeat.pid
